    <div style="width: 100%; text-align: center">
        <fieldset>
            <legend>
                MOVIMIENTO
            </legend>
            <div>
                <table style="width: 100%">
                    <tr>
                        <td style="width: 50%">
                            <table style="width:100%">
                                <tr>
                                    <td colspan="2" style="white-space:nowrap;">
                                        <label >TIPO MOVIMIENTO:</label>
                                        <select class="custom-select" id="input3">
                                            <option selected="">Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="white-space:nowrap;">
                                        <label >FECHA:</label>
                                        <input type="text">
                                    </td>
                                    <td style="text-align: right; white-space:nowrap">
                                        <label >ANO:</label>
                                        <input type="text">
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td style="width: 50%">
                            <table style="width:100%">
                                <tr>
                                    <td style="white-space:nowrap;">
                                        <label >CUENTA:</label>
                                        <input type="text">
                                    </td>
                                    <td style="text-align: right; white-space:nowrap">
                                        <label >CLAVE CATASTRAL:</label>
                                        <input type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="white-space:nowrap;">
                                        <label >EFECTOS:</label>
                                        <input type="text">
                                    </td>
                                    <td style="text-align: right; white-space:nowrap;">
                                        <label >ANO:</label>
                                        <input type="text">
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
    <hr /><br>
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <fieldset>
                    <legend>
                        DATOS REGISTRALES
                    </legend>
                    <div>
                        <table style="width: 100%">
                            <tr>
                                <td style="white-space:nowrap;">
                                    <label >CTA. ANT:</label>
                                    <input type="text">
                                </td>
                                <td style="width: 33%">
                                    <label >Segundo</label>
                                    <input type="text">
                                </td>
                                <td style="width: 33%">
                                    <label >Tercero</label>
                                    <input type="text">
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </td>
            <td style="width: 50%;">
                <fieldset>
                    <legend>
                        DATOS TECNICOS
                    </legend>
                    <div>
                        Aqui va la tabla
                    </div>
                </fieldset>
            </td>
        </tr>
    </table>